
body {
  background-color: rgb(246, 223, 134);
  display: grid;
  place-items: center;
}
div {
  margin: auto;
}
h1 {
  display: inline-block;
  background-color: aquamarine;
  transition: transform 0.3s;
}
h1:hover {
  background-color: rgb(112, 112, 243);
  transform: scale(1.1);
}
.apply {
  background-color: black;
  color: white;
}
.apply:hover {
  background-color: blue;
}